html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow:scroll; 
}
.maindiv{
  display: flex;
  overflow:inherit;
}
.flexdirect{
  flex-direction: row;
}
.app-bg{
  background:linear-gradient(0deg, rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(./bg1.jpg);
  height:80vh;
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.flex-child {
  flex: 1;
  
} 
.aa{
  margin-top: 10px;
} 

.flex-child:first-child {
  margin-right: 0px;
} 
.topleft{
  position: absolute;
  top: 8px;
  left: 16px;
}
.bottomleftrow{
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.bottomrightrow{
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.date{
  margin-bottom: 0px;
}
body{
  background-color: 	#F5F5F5;
  margin-top: 25px;
}
.side-bg{
  background-color:rgba(0,0,0,0.7);
  padding: 20px;
}
.footer{
  margin-bottom:20px;
}

@media only screen and (max-width: 600px) {
 
 
  .maindiv{
   
    margin-right: 5px;
  }
  .app-bg{
    
    padding: 250px 50px;
  }
  .flexdirect{
    flex-direction: column;
  }
  .bottomleftrow{
    padding-left: 0;
  }
}
